[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
environs = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
celery = "*"
redis = "*"
flower = "*"
django-redis = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.10"
